.cproject
.project
.settings/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/missing
build-aux/compile
build-aux/test-driver
qa/pull-tester/build-tests.sh
qa/pull-tester/run-bitcoind-for-test.sh
share/qt/Info.plist
share/setup.nsi
src/.deps/
src/Makefile
src/qt/Makefile
src/Makefile.in
src/compat/.deps/
src/config/faircoin-config.h
src/config/faircoin-config.h.in
src/config/faircoin-config.h.in~
src/config/stamp-h1
src/qt/.deps/
*.o
*.a
src/qt/moc_*
*.moc
src/FairCoind
src/qt/FairCoin-qt
.dirstamp
src/qt/forms/ui_*
src/test/.deps
src/qt/qrc_bitcoin.cpp
src/test/data/*.h
src/test/test_faircoin
