.cproject
.project
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
qa/pull-tester/build-tests.sh
qa/pull-tester/run-bitcoind-for-test.sh
share/qt/Info.plist
share/setup.nsi
src/.deps/
src/Makefile
src/Makefile.in
src/compat/.deps/
src/config/faircoin-config.h
src/config/faircoin-config.h.in
src/config/faircoin-config.h.in~
src/config/stamp-h1
src/qt/.deps/
